@import '../../../App.scss';

.wrapper {
    width: 100%;
    background-color: $surface-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.backAndChatInfo{
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar{
    position: relative;
}

.extraButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}