$surface-color: #212121 !default;

$primary-color: #8774E1 !default;
$primary-filter: invert(52%) sepia(11%) saturate(2791%) hue-rotate(210deg) brightness(95%) contrast(84%) !default;

$primary-text-color: white;
$primary-text-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !default;

// $secondary-color: #aaa !default;
$secondary-color: #707579 !default;

$secondary-text-color: #aaa !default;
$secondary-text-filter: invert(94%) sepia(0%) saturate(1221%) hue-rotate(143deg) brightness(78%) contrast(74%) !default;

$secondary-button-hover-color: rgba(128, 128, 128, 0.3) !default;

$avatar-online-color: #0ac630 !default;

$danger-color: red;
$danger-filter: invert(31%) sepia(100%) saturate(7440%) hue-rotate(358deg) brightness(100%) contrast(112%);

$message-out-status-color: rgba(255, 255, 255, 0.53);

$border-color: #0f0f0f;

*:not(path, svg) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scrollbar-color: #444444 $surface-color;
    scrollbar-width: thin;
}

*:not(h1, h2, h3, h4, h5, h6) {
    font-size: 16px;
}

svg {
    fill: white;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: $surface-color;
}

*::-webkit-scrollbar-thumb {
    background: #444444;
}

body {
    position: relative;
}

#root {
    z-index: 1000;
    position: relative;
    height: 100vh;
}

#modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalHeader {
    padding: 10px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modalContent {
    padding: 10px;
}

.wrapperApp {
    background-color: #181818;
    position: relative;
    height: 100vh;
}

.app {
    height: 100vh;
    max-width: 1682px;
    margin: 0 auto;
    position: relative;
}

.authedRoutes {
    display: flex;
    gap: 1px;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.header {
    height: 56px;
    padding: 0 1rem;
}

.small {
    font-size: 12px;
    color: $secondary-text-color;
}

.light {
    color: $message-out-status-color;
}

.primary {
    color: $primary-text-color;
}

.secondary {
    color: $secondary-text-color;
}

.bold {
    font-weight: 600;
}

.subText {
    font-size: .850rem;
    color: $secondary-text-color;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.danger,
.danger * {
    color: $danger-color;
}

// .danger:hover {
//     background-color: #322525;
// }

.headerTitle {
    font-size: 20px;
    font-weight: 600;
}

.ant-message .ant-message-custom-content>span:last-child {
    color: black !important;
}

.secondaryTextSvg {
    filter: $secondary-text-filter;
}

.primaryTextSvg {
    filter: $primary-text-filter;
}

.primarySvg {
    filter: $primary-filter;
}

.dangerSvg {
    filter: $danger-filter;
}

.divider {
    height: 15px;
    background-color: #181818;
}