*:not(path, svg) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    scrollbar-color: #444444 #212121;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #212121;
}

*::-webkit-scrollbar-thumb {
    background: #444444;
}

body {
    position: relative;
}

.wrapperApp {
    background-color: #181818;
}

.app {
    height: 100vh;
    max-width: 1682px;
    margin: 0 auto;
}

.authedRoutes {
    display: flex;
    gap: 1px;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.header {
    height: 56px;
    padding: 0 1rem;
}

.small {
    font-size: 12px;
    color: #aaa;
}

.light {
    color: rgba(255, 255, 255, 0.53);
}

.secondary {
    color: #aaa;
}

.bold {
    font-weight: 650;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.danger, .danger * {
    color: red;
}

.danger:hover {
    background-color: #322525;
}

.headerTitle {
    font-size: 20px;
    font-weight: 600;
}

.ant-message .ant-message-custom-content > span:last-child{
    color: black !important;
}