@import '../../../App.scss';

.wrapper {
    width: calc(100% - 20px);
    margin: 5px 10px 15px 10px;
}

.inner {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    gap: 10px;
    position: relative;
}

.inputTextButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

.inputTextButton:hover {
    background-color: #2C2C2C;
}

.wrapperInputText {
    border-radius: 10px;
    background-color: $surface-color;
    padding: 10px;
    flex: 1;
    min-width: 0;
}

.extraBlockWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

.close:hover {
    background-color: #2C2C2C;
}

.extraBlockInner {
    display: flex;
    align-items: stretch;
    gap: 10px;
    min-width: 0;
    flex: 1;
}

.actionAndText {
    width: calc(100% - 60px);
}

.extraBlockWrapper .icon {
    width: 35px;
    border-right: 2px solid $primary-color;
    padding-right: 10px;
}

.extraBlockWrapper * {
    font-size: 12px;
}

.extraBlockWrapper .action {
    color: $primary-color;
}

.extraBlockWrapper .text {
    color: $secondary-text-color;
    margin-top: -3px;
    margin-bottom: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.files {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 5px;

    .file {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;

        .icon {
            width: 35px;
            border-right: 2px solid $primary-color;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .info {
            min-width: 0;
            flex: 1;
            display: flex;
            align-items: center;

            .infoInner {
                min-width: 0;
                flex: 1;
            }

            .name {}

            .size {
                color: $secondary-text-color;
                font-size: 0.9rem;
            }
        }
    }
}

.innerInputText {
    display: flex;
    align-items: end;
    gap: 20px;
}

.inputText {
    flex: 1;
    background-color: $surface-color;
    height: 28px;
    resize: none;
    border: none;
    outline: none;
}

.buttonSend {
    position: absolute;
    right: -55px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: calc(100% - 75px);
    }
}