@import '../../../App.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCloseAndTitle {
    display: flex;
    gap: 25px;
    align-items: center;
}

.chatInfo {
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.imageAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.wrapperAvatar {
    position: relative;
}

.avatar {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.name {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.avatarWithoutImageName {
    font-size: 18px;
    font-weight: 600;
}

.chatInfoButtons {
    margin: 10px;
}

.chatInfoButton {
    height: 55px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.chatInfoButton:hover {
    background-color: $secondary-button-hover-color;
}

.chatInfoButtonText {
    margin-bottom: -5px;
}

.chatInfoButtonLabel {
    color: $secondary-text-color;
    font-size: 0.9rem;
}

.notifications {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    height: 15px;
    background-color: #181818;
}

.tabs {
    padding: 4px;
    display: flex;
    border-bottom: 2px solid #181818;
}

.tab {
    color: $secondary-color;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all ease;
}

.tabSelected {
    color: $primary-color;
    position: relative;
}

.tabSelected::after {
    width: 60%;
    height: 3px;
    background-color: $primary-color;
    position: absolute;
    bottom: -5px;
    content: "";
    border-radius: 10px 10px 0 0;
}

.tab:hover {
    background-color: $secondary-button-hover-color;
}

.tabContent {
    margin: 7px;
}