@import '../../../App.scss';

.innerModel {
    background-color: $surface-color;
    border-radius: 10px;
    box-shadow: 0 0 3px #2B2B2B;
}

.modalOpened {
    pointer-events: none;
    filter: blur(0.7px);
    z-index: -1000 !important;
}
