@import '../../../App.scss';

.strongButton {
    background-color: $primary-color;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}