@import '../../../App.scss';

.smallButton {
    outline: none;
    border: none;
    background-color: $primary-color;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}