.wrapper {
    width: 400px;
    background-color: #212121;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeAndHeaderName {
    display: flex;
    gap: 25px;
    align-items: center;
}

.headerName {
    font-size: 20px;
    font-weight: 600;
}

.chatInfo {
    height: calc(100% - 56px);
    overflow-y: auto;
}

.chatInfoButtons {
    margin: 10px;
}

.chatInfoButton {
    width: 100%;
    padding: 0 5px;
    display: flex;
    gap: 20px;
}

.chatInfoButtonText {
    margin-bottom: -5px;
}

.chatInfoButtonLabel {
    color: #aaa;
    font-size: 0.9rem;
}

.imageAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.wrapperAvatar {
    position: relative;
}

.avatar {
    width: 100%;
}

.name {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.avatarWithoutImageName {
    font-size: 18px;
    font-weight: 600;
}

.divider {
    height: 15px;
    background-color: #181818;
}

@media (max-width: 700px) {
    .wrapper {
        width: 100% !important;
    }
}
