@import '../../../App.scss';

.wrapper {
    width: 400px;
    background-color: $surface-color;
    overflow: hidden;
}

.inner {
    min-width: 400px;
}



@media (max-width: 700px) {
    .wrapper {
        width: 100% !important;
    }

    .inner {
        min-width: 100%;
    }
}