@import '../../../App.scss';

.wrapper {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.wrapperMessagesBlocks {
    scrollbar-color: #444444 #181818;
    overflow-y: auto;
    flex: 1;
    padding: 0 3px;
}

.wrapperMessagesBlocks::-webkit-scrollbar {
    background: #181818;
}

.messagesBlocks {
    overflow-y: scroll;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.messagesBlock {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.innerMessagesBlock {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
}