@import '../../../App.scss';

.wrapper {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
}

.messages {
    scrollbar-color: #444444 #181818;
    overflow-y: auto;
    flex: 1;
    padding: 0 3px;
}

.messages::-webkit-scrollbar {
    background: #181818;
}

.messagesBlock {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.wrapperMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.messageFromImages {
    width: 40px;
    height: 25px;
    position: relative;
}

.innerMessageFromImages {
    position: absolute;
    bottom: 0;
}

