@import '../../../App.scss';

.menuItems {
    background-color: $surface-color;
    padding: 5px;
    box-shadow: 0 0 3px #2B2B2B;
    border-radius: 5px;
    position: fixed;
    z-index: 1000;
}

.menuItem {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 2px 10px;
    width: 160px;
}

.menuItem:hover {
    background-color: #2B2B2B;
}

.menuItem td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menuItem td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.icon {
    width: 25px;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {

}
