.title {
  color: white;
}

.item {
  padding: 0 !important;
  height: 100%;
}

.item:hover {
  background-color: rgba(52, 77, 77, 0.856);
}

.user {
  height: fit-content;
  width: 100%;
  display: flex;
  margin: 5px 0px;
  .userName {
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }
}

.list {
  overflow: auto;
  overflow-y: scroll;
  .ant-list-split .ant-list-item {
    border-bottom: none;
  }
}
