.wrapper {
    width: 400px;
    background-color: #212121;
    height: 100%;
    position: relative;
}

.leftSidebarSmallPrimaryButton {
    position: fixed;
    bottom: 5px;
}

@media (max-width: 700px) {
    .wrapper {
        width: 100% !important;
    }

    .leftSidebarSmallPrimaryButton {
        left: auto !important;
        right: 10px;
    }
}